<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Blade<small>  Wesley Snipes</small></h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="colorblade">
        <img ng-src='images/blade.jpg' class="img-thumbnail" />
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="bladevideo embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/IkTZpMNDD3s" frameborder="0" allowfullscreen></iframe></div>
    </div>
  </div>
</div>
