<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Bruce Leroy<small> Taimak Guarriello</small></h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="colorterry">
        <img ng-src='images/bruce.jpg' class="img-thumbnail" />
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="terryvideo embed-responsive embed-responsive-16by9">class="embed-responsive-item"}
        <iframe width=" 560 " height="315 " src="https://www.youtube.com/embed/J8702Im2P18 " frameborder="0 " allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <img ng-src='images/bruce.jpg' class="img-thumbnail" />
    </div>
    <div class="col-xs-6">
      <div class="terry" ng-click="goTerry()">Go to Terry</div>
    </div>
  </div>
</div>

<div class="colorbruce">

</div>
